.card{
    border: 1.5px solid var(--dark-purple);
    box-shadow: 0 0 5px 1px var(--dark-purple-700);
    min-width: 30vw;
    min-height: 40vh;
}
input{
    border: none;
    border-bottom: 2px solid var(--light-pink);
    transition: border-bottom-width 0.2s ease;
}
button:focus,input:focus-visible{
    border-bottom-width: 4px;
}