.project-card {
  background: var(--bg-black-200);
  border: 1px solid var(--bg-black-400);
  border-radius: 12px;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 0.25s ease; 
}

.project-card:hover {
  border-color: var(--dark-purple-500);
}

.project-left {
  display: flex;
  gap: 1rem;
}

.project-icon {
  font-size: 28px;
}

.project-meta {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.project-title {
  font-size: 16px;
  color: white;
}

.project-date {
  font-size: 13px;
  opacity: 0.6;
  color: var(--light-purple-900);
  display: flex;
}

.project-date svg{
    color: var(--light-purple-500)
}

.project-subtext{
    color: white;
    cursor: pointer;
    outline: none;
    background-color: var(--light-blue-600);
    text-decoration: none;
    font-size: smaller;
    transition: background-color 0.25s ease; 
    align-items: center;       
    gap: 0.25rem;
    padding: 0.25rem 0.75rem;  
    border-radius: 9999px;     
    max-width: 12rem;           
    white-space: nowrap;        
    overflow-x: hidden;  
    text-overflow: ellipsis; 
}

.project-subtext:hover{
    color: white!important;
    background-color: var(--light-blue-500);
}

.project-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-status {
  color: var(--light-purple-700);
}

.project-menu {
  cursor: pointer;
  font-size: 20px;
  opacity: 0.6;
}

@media (max-width: 480px) {
  .project-card {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .project-left {
    flex-wrap: wrap;
  }
}