.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-topbar {
  height: 60px;
  background-color: #29293d;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 10;
}



.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout-sidebar {
  width: 220px;
  background-color: #1f1f2e;
  color: white;
  padding: 1rem;
  transition: width 0.3s ease;
  flex-shrink: 0;
  text-wrap: nowrap;
}

.layout-sidebar.closed {
  width: 0;
  padding: 1rem 0;
  overflow: hidden;
}

.layout-content {
  flex: 1;
  padding: 1rem;
  background-color: #f5f5f5;
  transition: margin-left 0.3s ease;
}

.layout-content.sidebar-open {
  margin-left: 0; 
}

.layout-content.sidebar-closed {
  margin-left: 0; 
}

