.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 102px;
}

/* ---------------- TOPBAR ---------------- */

.layout-topbar {
  height: 60px;
  background-color: var(--bg-black-300);
  color: var(--light-purple-900);      
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 10;
}

/* ---------------- BODY ---------------- */

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* ---------------- SIDEBAR ---------------- */

.layout-sidebar {
  position: fixed; 
  top: 50%;
  left: -80px; 
  transform: translateY(-50%);
  width: 120px;
  background-color: var(--bg-black-200);
  color: var(--light-purple-800);
  padding: 1rem;
  border-right: 1px solid var(--dark-purple-400);
  border-radius: 0 8px 8px 0;
  transition: left 0.3s ease, padding 0.3s ease;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-toggle {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--dark-purple-500);
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.sidebar-toggle .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.sidebar-toggle .arrow.open {
  transform: rotate(180deg);
}

.layout-sidebar.open {
  left: 0;
}

.layout-sidebar.closed {
  left: -80px;
}

.layout-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.layout-sidebar li {
  padding: 0.5rem 0;
  cursor: pointer;
}

/* ---------------- CONTENT ---------------- */

.layout-content {
  flex: 1;
  padding: 3rem 10rem;
  background: var(--bg-black-100);
  color: var(--light-purple-900);
  min-height: 100vh;
}


/* ---------------- SMALL SCREEN ---------------- */

@media (max-width: 768px) {
  .layout-body {
    position: relative;
  }

  .layout-sidebar {
    position: fixed;
    top: 60px; 
    left: 0;
    height: calc(100vh - 60px);
    width: 100%;
    border-right: none;
    transform: translateX(0);
    z-index: 999;
    transition: transform 0.35s ease-in-out;
  }

  .layout-sidebar.closed {
    transform: translateX(-100%);
    width: 100%;    
    padding: 1rem;  
  }

  .layout-content {
    margin-left: 0 !important;
    padding: 1rem 0.7rem; 
  }
}